@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@300&display=swap');


.MainWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(242, 239, 231, 1);
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.CentralWrapper{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: white;
    border-top: 1px solid #A3915D;
    padding: 120px 148px 120px 149px;
}

.Date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.StartDateDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.StartDateDivText{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #262626;   
}

.StartDateDiv input{
    background: #F6F4F0;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #262626;
}

.EstimatedDate{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.EstimatedDateText{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #A3915D;
}

.EstimatedDateEnd{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 51px;    
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: #000000;
}

.Title{
    display: flex;
    margin-top: 60px;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 51px;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: #A3915D;
}

.Table{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.Table thead{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    text-transform: capitalize;
    color: #262626;
}

.Table tbody{
    margin-top: 10px;
    border-bottom: 1px solid green;
}

.HeadOne{
    width: 200px;
    text-align: left;
}
.HeadTwo{
    width: 160px;
}
.HeadThree{
    width: 160px;
}
.HeadFour{
    width: 160px;
}
.HeadFive{
    width: 160px;
}
.HeadSix{
    width: 160px;
    text-align: right;
}

.BodyOne{
    width: 200px;
    text-align: left;
    border-top: 1px solid green;
    padding-top: 5px;
    padding-bottom: 5px;
}
.BodyTwo{
    width: 160px;
    border-top: 1px solid green;
    padding-top: 5px;
    padding-bottom: 5px;
}
.BodyThree{
    width: 160px;
    border-top: 1px solid green;
    padding-top: 15px;
    padding-bottom: 15px;
}
.BodyFour{
    width: 160px;
    border-top: 1px solid green;
    padding-top: 15px;
    padding-bottom: 15px;
}
.BodyFive{
    width: 160px;
    border-top: 1px solid green;
    padding-top: 15px;
    padding-bottom: 15px;
}
.BodySix{
    width: 160px;
    text-align: right;
    border-top: 1px solid green;
    padding-top: 15px;
    padding-bottom: 15px;
}


.Print{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 91px;
    justify-content: flex-end;
}

.PrintText{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #A3915D;
}

.PrintImage img{
    width: 18px;
    height: 22px;
}

@media all and (min-width: 280px) and (max-width: 426px){
    .MainWrapper{
        display: flex;
        overflow: hidden;
        width: 100%;
    }
    .CentralWrapper{
        display: flex;
        width: 95%;
        padding: 20px 0px 20px 0px;
        align-items: center;
    }
    .Date{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .Title{
        text-align: center;
    }
    .Table{
        width: 100%;
    }
    .HeadOne{
        font-size: 10px;
    }
    .HeadTwo{
        font-size: 10px;
    }
    .HeadThree{
        font-size: 10px;
    }
    .HeadFour{
        font-size: 10px;
    }
    .HeadFive{
        font-size: 10px;
    }
    .HeadSix{
        font-size: 10px;
        text-align: right;
    }
    .BodyOne{
        width: 20%;
        text-align: left;
        border-top: 1px solid green;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 9px;
    }
    .BodyTwo{
        width: 160px;
        border-top: 1px solid green;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 9px;
    }
    .BodyThree{
        width: 160px;
        border-top: 1px solid green;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 9px;
    }
    .BodyFour{
        width: 160px;
        border-top: 1px solid green;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 9px;
    }
    .BodyFive{
        width: 160px;
        border-top: 1px solid green;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 9px;
    }
    .BodySix{
        width: 160px;
        text-align: right;
        border-top: 1px solid green;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 9px;
    }
    .StartDateDivInput{
        width: 90%;
    }
    .EstimatedDateEnd{
        font-size: 30px;
    }
    .StartDateDivInput input{
        width: 100%;
    }
    .Print{
        margin-top: 35px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px){
    .MainWrapper{
        display: flex;
        overflow: hidden;
        width: 100%;
    }
    .CentralWrapper{
        display: flex;
        width: 90%;
        padding: 20px 20px 0px 20px;
        align-items: center;
    }
    .Date{
        display: flex;
        flex-direction: row;
        gap: 80px;
    }
    .Title{
        text-align: center;
    }
    .Table{
        width: 100%;
    }
    .HeadOne{
        font-size: 13px;
    }
    .HeadTwo{
        font-size: 13px;
    }
    .HeadThree{
        font-size: 13px;
    }
    .HeadFour{
        font-size: 13px;
    }
    .HeadFive{
        font-size: 13px;
    }
    .HeadSix{
        font-size: 13px;
        text-align: right;
    }
    .BodyOne{
        font-size: 12px;
        width: 20%;
    }
    .BodyTwo{
        font-size: 12px;
    }
    .BodyThree{
        font-size: 12px;
    }
    .BodyFour{
        font-size: 12px;
    }
    .BodyFive{
        font-size: 12px;
    }
    .BodySix{
        font-size: 12px;
    }
    .StartDateDivInput input{
        width: 99%;
    }
    .Print{
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1440px){
    .MainWrapper{
        display: flex;
        overflow: hidden;
        width: 100%;
    }
    .CentralWrapper{
        display: flex;
        width: 90%;
        padding: 20px 20px 0px 20px;
        align-items: center;
    }
    .Date{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .StartDateDiv{
        display: flex;
        justify-content: flex-start;
    }
    .EstimatedDate{
        display: flex;
        justify-content: flex-end;
    }
    .Title{
        text-align: center;
    }
    .Table{
        width: 1000px;
    }
    .StartDateDivInput input{
        width: 99%;
    }
    .Print{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 30px;
    }
}

@media all and (min-width: 1441px) and (max-width: 2500px){
    .MainWrapper{
        display: flex;
        overflow: hidden;
        width: 100%;
    }
    .CentralWrapper{
        display: flex;
        width: 60%;
        padding: 20px 20px 0px 20px;
        align-items: center;
    }
    .Date{
        display: flex;
        flex-direction: row;
        width: 90%;
    }
    .StartDateDiv{
        display: flex;
        justify-content: flex-start;
    }
    .EstimatedDate{
        display: flex;
        justify-content: flex-end;
    }
    .Title{
        text-align: center;
    }
    .Table{
        width: 1000px;
    }
    .StartDateDivInput input{
        width: 99%;
    }
    .Print{
        display: flex;
        justify-content: flex-end;
        width: 90%;
        margin-bottom: 30px;
    }
}

@media all and (min-width: 2560px){
    .MainWrapper{
        display: flex;
        overflow: hidden;
        width: 100%;
    }
    .CentralWrapper{
        display: flex;
        width: 60%;
        padding: 20px 20px 0px 20px;
        align-items: center;
    }
    .Date{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 50px;
    }
    .StartDateDiv{
        display: flex;
        justify-content: flex-start;
    }
    .EstimatedDate{
        display: flex;
        justify-content: flex-end;
    }
    .Title{
        text-align: center;
    }
    .Table{
        width: 1250px;
    }
    .HeadOne{
        font-size: 20px;
        width: 250px;
    }
    .HeadTwo{
        font-size: 20px;
        width: 200px;
    }
    .HeadThree{
        font-size: 20px;
        width: 200px;
    }
    .HeadFour{
        font-size: 20px;
        width: 200px;
    }
    .HeadFive{
        font-size: 20px;
        width: 200px;
    }
    .HeadSix{
        font-size: 20px;
        text-align: right;
        width: 200px;
    }
    .BodyOne{
        font-size: 20px;
        width: 250px;
    }
    .BodyTwo{
        font-size: 20px;
        width: 200px;
    }
    .BodyThree{
        font-size: 20px;
        width: 200px;
    }
    .BodyFour{
        font-size: 20px;
        width: 200px;
    }
    .BodyFive{
        font-size: 20px;
        width: 200px;
    }
    .BodySix{
        font-size: 20px;
        width: 200px;
    }
    .StartDateDivInput input{
        width: 99%;
    }
    .Print{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 100px;
        margin-bottom: 30px;
    }
}