@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@300&display=swap');

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-wrapper-am{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  background-color: #262626;
  background-image: url(../photos/Vector.svg);
  background-position: left 5% bottom 0%;
  background-repeat: no-repeat;
}

.invalid{
  margin-top: 10px;
  color: red;
  font-size: 20px;
  line-height: 20px;
}

.left-content-am{
  display: flex;
  flex-direction: column;
  height: 540px;
  margin-left: 219px;
  padding-top: 91px;
}

.left-am-input{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.inputs h2{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #F6F6F6;
}

.left-am-line{
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-top: 30px;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.01em;
  text-transform: lowercase;
  color: #A3915D;
}

.line-one{
  width: 298px;
  height: 0px;
  border: 1px solid #A3915D;
  margin-top: 13px;
}

.left-am-button{
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}

.left-am-button h2{
  padding-left: 129px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #A3915D;
}

.left-am-button a{
  cursor: pointer;
}

.left-am-button button{
  padding: 8px 32px;
  width: 198px;
  height: 56px;
  background: #A3915D;
  border-radius: 3px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #E5E5E5;
}

.left-am-button button:disabled{
  padding: 8px 32px;
  width: 198px;
  height: 56px;
  background: lightgray;
  border-radius: 3px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: darkgray;
}

.left-am-button img{
  width: 21.6px;
  height: 24px;
  color: #A3915D;
  padding-top: 15px;
  padding-left: 5px;
}

.right-content-am{
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  padding-top: 126px;
  max-width: 208px;
}

.right-content-first{
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}

.right-number-am{
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #A3915D;
}

.right-text-am{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #F6F6F6;
}

.right-content-second{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 35px;
}

.right-totals{
  display: flex;
  flex-direction: row;
}

.right-totals-text{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  text-transform: capitalize;
  color: #F6F6F6;
  width: 60%;
}

.right-totals-number{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  text-transform: capitalize;
  color: #F6F6F6;
  width: 40%;
  text-align: right;
}

.right-totals-line{
  border: 1px solid #A3915D;
  width: 210px;
  height: 0px;
}

input[type=number]{
  background: #F6F4F0;
  border: 1px solid #B7B7B7;
  box-sizing: border-box;
  border-radius: 3px;
  width: 298px;
  height: 56px;
  color: #B7B7B7;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
}

input[type=number]::placeholder{
  color: #B7B7B7;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
}
@media all and (min-width: 280px) and (max-width: 425px){
  .main-wrapper-am{
    overflow: hidden;
    width: 100%;
    height: 170vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-content-am{
    display: flex;
    flex-direction: column;
    order: 2;
    margin-left: 0px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .left-am-input{
    display: flex;
    flex-direction: column;
  }
  .left-am-button{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputs input{
    width: 100px;
  }
  .left-am-button h2{
    padding-left: 0px;
  }
  .left-am-button img{
    padding-top: 0px;
  }
  .left-am-button button{
    width: 298px;
  }
  .right-content-am{
    order: 1;
    width: 100%;
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    align-items: center;
  }
}

@media all and (min-width: 426px) and (max-width: 768px){
  .main-wrapper-am{
    overflow: hidden;
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
  .left-content-am{
    display: flex;
    flex-direction: column;
    order: 110vh;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    width: 60%;
    align-items: center;
  }
  .left-am-input{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 0px;
  }
  .left-am-line{
    width: 100%;
    padding-left: 35%;
  }
  .line-one{
    width: 130px;
  }
  .left-am-button{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-am-button h2{
    padding-left: 0px;
  }
  .left-am-button img{
    padding-top: 0px;
  }
  .left-am-button button{
    width: 298px;
  }
  .right-content-am{
    order: 2;
    width: 40%;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    align-items: center;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px){
  .main-wrapper-am{
    overflow: hidden;
    width: 100%;
    height: 111vh;
    display: flex;
    flex-direction: row;
  }
  .left-content-am{
    display: flex;
    flex-direction: column;
    order: 1;
    margin-left: 0px;
    margin-top: 0px;
    align-items: center;
    width: 60%;
  }
  .left-am-input{
    display: flex;
    flex-direction: column;
  }
  .left-am-button{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-am-line{
    width: 100%;
    padding-left: 51%;
  }
  .line-one{
    width: 130px;
  }
  .left-am-button h2{
    padding-left: 0px;
  }
  .left-am-button img{
    padding-top: 0px;
  }
  .left-am-button button{
    width: 298px;
  }
  .right-content-am{
    order: 2;
    width: 40%;
    padding-top: 0px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 0px;
    align-items: center;
  }
}

@media all and (min-width: 1025px) and (max-width: 1440px){
  .main-wrapper-am{
    overflow: hidden;
    width: 100%;
    height: 555px;
    display: flex;
    flex-direction: row;
  }
  .left-content-am{
    display: flex;
    flex-direction: column;
    order: 1;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    align-items: center;
    justify-content: center;
    width: 65%;
  }
  .left-am-input{
    display: flex;
    flex-direction: row;
  }
  .left-am-button{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .left-am-button h2{
    padding-left: 0px;
  }
  .left-am-button img{
    padding-top: 0px;
  }
  .left-am-button button{
    width: 198px;
    margin-right: 140px;
  }
  .right-content-am{
    order: 2;
    width: 35%;
    padding-top: 0px;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 70px;
    align-items: center;
  }
}

@media all and (min-width: 1441px) and (max-width: 2560px){
  .main-wrapper-am{
    overflow: hidden;
    width: 100%;
    height: 555px;
    display: flex;
    flex-direction: row;
  }
  .left-content-am{
    display: flex;
    flex-direction: column;
    order: 1;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    align-items: center;
    justify-content: center;
    width: 65%;
  }
  .left-am-input{
    display: flex;
    flex-direction: row;
  }
  .left-am-button{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .left-am-button h2{
    padding-left: 0px;
  }
  .left-am-button img{
    padding-top: 0px;
  }
  .left-am-button button{
    width: 198px;
    margin-right: 140px;
  }
  .right-content-am{
    order: 2;
    width: 35%;
    padding-top: 0px;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 70px;
    align-items: center;
  }
}