@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@300&display=swap');

.main-wrapper{
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 100vh;
  border: 1px solid black;
  background-color: #262626;
  background-image: url(../photos/Vector.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.left-wrapper{
  display: flex;
  flex-direction: column;
  margin-left: 220px;
  height: 356px;
}

.left-content-up{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 89px;
}

.left-first h2{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #F6F6F6;
}

.left-content-down{
  margin-top: 30px;
}

.left-content-down button{
  padding: 8px 32px;
  width: 198px;
  height: 56px;
  background: #A3915D;
  border-radius: 3px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #E5E5E5;
}

.right-wrapper{
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  align-items: center;
  text-align: center;
}

.right-number{
  margin-top: 126px;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #A3915D;
}

.right-text{
  margin-top: 25px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #F6F6F6;
}

input[type=text]{
  background: #F6F4F0;
  border: 1px solid #B7B7B7;
  box-sizing: border-box;
  border-radius: 3px;
  width: 298px;
  height: 56px;
  color: #B7B7B7;
}

input[type=number]{
  background: #F6F4F0;
  border: 1px solid #B7B7B7;
  box-sizing: border-box;
  border-radius: 3px;
  width: 298px;
  height: 56px;
  color: #B7B7B7;
}

@media all and (min-width: 280px) and (max-width: 425px) {
  .main-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .left-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
    order: 2;
  }
  .left-content-up{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
  .left-content-down{
    margin-top: 30px;
  }
  .left-content-down button{
    width: 298px;
  }
  .right-wrapper{
    margin: 0px;
    order: 1;
  }
  .right-number{
    margin-top: 10px;
  }
}

@media all and (min-width: 426px) and (max-width: 768px){
  .main-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .left-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    /* align-items: center;
    justify-content: center; */
  }
  .left-content-up{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
  .left-first input{
    width: 290px;
  }
  .left-content-down button{
    width: 290px;
  }
  .left-content-down{
    margin-top: 30px;
  }
  .right-wrapper{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 20px;
  }
}

@media all and (min-width: 769px) and (max-width: 1023px){
  .main-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .left-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
  }
  .left-content-up{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
  .left-content-down{
    margin-top: 30px;
  }
  .left-first input{
    width: 350px;
  }
  .left-content-down button{
    width: 350px;
  }
  .right-wrapper{
    margin-left: 0px;
    margin-top: 0px;
    width: 50%;
  }
}

@media all and (min-width: 1024px) and (max-width: 1439px){
  .main-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* gap: 110px; */
  }
  .left-wrapper{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
  .left-content-up{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
  }
  .left-content-down{
    margin-top: 30px;
    margin-left: 40px;
  }
  .left-first input{
    width: 260px;
  }
  .left-content-down button{
    width: 198px;
  }
  .right-wrapper{
    margin-left: 0px;
    margin-top: 0px;
    width: 40%;
    align-items: center;
  }
}

